[submodule "HTML-CSS-PROJECts"]
	path = HTML-CSS-PROJECts
	url = https://github.com/varunsahukar/HTML-CSS-PROJECTS.git
[submodule "HTML-CSS-PROJECTS"]
	path = HTML-CSS-PROJECTS
	url = https://github.com/varunsahukar/HTML-CSS-PROJECTS.git
